<div class="container">
  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        Created by <a href="https://github.com/Endeyr" target="_blank" rel="noreferrer noopener">Aaron Thompson</a> &copy
      </p>
    </div>
  </footer>
</div>
